.typed-text {
	opacity: 80%;
}
.cursor {
	display: inline-block;
	width: 2px;
	height: 2rem;
	background-color: #000;
	margin-left: 0.1rem;
	margin-bottom: -0.35rem;
	animation: blink 1s infinite;
}
.cursor.typing {
	animation: none;
}
@keyframes blink {
	0% {
		background-color: #000;
	}
	49% {
		background-color: #000;
	}
	50% {
		background-color: transparent;
	}
	99% {
		background-color: transparent;
	}
	100% {
		background-color: #000;
	}
}

#lock {
	animation: hover-lock 4s infinite alternate-reverse;
}
#lock-shadow {
	animation: scale-lock-shadow 4s infinite alternate-reverse;
	transform-origin: center;
	transform-box: fill-box;
}
#phone {
	animation: hover-phone 5s infinite alternate-reverse;
}
#phone-shadow {
	animation: scale-phone-shadow 5s infinite alternate-reverse;
	transform-origin: center;
	transform-box: fill-box;
}

@keyframes hover-lock {
	from {
		transform: translateY(-20px);
	}
	to {
		transform: translateY(0px);
	}
}
@keyframes scale-lock-shadow {
	from {
		transform: scale(0.8);
		-webkit-transform: scale(0.8);
	}
	to {
		transform: scale(1.1);
		-webkit-transform: scale(1.1);
	}
}

@keyframes hover-phone {
	from {
		transform: translateY(-20px);
	}
	to {
		transform: translateY(0px);
	}
}
@keyframes scale-phone-shadow {
	from {
		transform: scale(0.8);
		-webkit-transform: scale(0.8);
	}
	to {
		transform: scale(1.1);
		-webkit-transform: scale(1.1);
	}
}

#hobokenButtonContainer {
	animation: hobokenEmphasize 8s infinite;
}
#hobokenButtonContainer:hover {
	animation: hobokenEmphasize 0s infinite;
	box-shadow: 0px 0px 25px 1px rgba(255, 255, 255, 0.5);
}

@keyframes hobokenEmphasize {
	0% {
		transform: scale(1);
		-webkit-transform: scale(1);
	}
	10% {
		transform: scale(1);
		-webkit-transform: scale(1);
	}
	13% {
		transform: scale(1.05);
		-webkit-transform: scale(1.05);
	}
	16% {
		transform: scale(1);
		-webkit-transform: scale(1);
	}
	19% {
		transform: scale(1.05);
		-webkit-transform: scale(1.05);
	}
	21% {
		transform: scale(1);
		-webkit-transform: scale(1);
	}
	100% {
		transform: scale(1);
		-webkit-transform: scale(1);
	}
}

#shapes-inside-check-1 {
	animation: shapes-inside-check-animation-1 10s infinite linear;
}
#shapes-inside-check-2 {
	animation: shapes-inside-check-animation-2 10s infinite linear;
}
@keyframes shapes-inside-check-animation-1 {
	from {
		transform: translateX(200px);
	}
	to {
		transform: translateX(-200px);
	}
}
@keyframes shapes-inside-check-animation-2 {
	from {
		transform: translateX(-50px);
	}
	to {
		transform: translateX(-350px);
	}
}
@media screen and (min-width: 768px) {
	.fade-slide-in {
		opacity: 0;
		transition: opacity 500ms linear;
	}
	.fade-slide-in-no-margin {
		opacity: 0;
		transition: opacity 500ms linear;
	}
	.fade-slide-in.right {
		transform: translateX(100px);
		transition: all 750ms linear;
	}
	.fade-slide-in.left {
		transform: translateX(-100px);
		transition: all 750ms linear;
	}
	.fade-slide-in.top {
		transform: translateY(-100px);
		transition: all 750ms linear;
	}
	.fade-slide-in.top-small {
		transform: translateY(-25px);
		transition: all 750ms linear;
	}
	.fade-slide-in.bottom {
		transform: translateY(100px);
		transition: all 750ms linear;
	}
	.fade-slide-in-no-margin.bottom {
		transform: translateY(100px);
		transition: all 750ms linear;
	}
	.fade-slide-in.bottom-small {
		transform: translateY(50px);
		transition: all 750ms linear;
	}
	.fade-slide-in.appear {
		opacity: 1;
		transform: translateX(0px) translateY(0px);
	}
	.fade-slide-in-no-margin.appear {
		opacity: 1;
		transform: translateX(0px) translateY(0px);
	}
}

.auto-scroll-card {
	animation: auto-scroll-card 10s linear infinite;
}
.auto-scroll-card:hover,
.auto-scroll-card:focus {
	animation-play-state: paused;
}
@keyframes auto-scroll-card {
	from {
		transform: translateX(-250%);
	}
	to {
		transform: translateX(250%);
	}
}

/* #navbar-component {
	animation: nav-bar 2s ease-in-out;
}
@keyframes nav-bar {
	from {
		background-color: transparent;
	}
	to {
		background-color: #7026ab;
	}
} */
