#lock {
	animation: hover-lock 4s infinite alternate-reverse;
}
#lock-shadow {
	animation: scale-lock-shadow 4s infinite alternate-reverse;
	transform-origin: center;
	transform-box: fill-box;
}
#phone {
	animation: hover-phone 5s infinite alternate-reverse;
}
#phone-shadow {
	animation: scale-phone-shadow 5s infinite alternate-reverse;
	transform-origin: center;
	transform-box: fill-box;
}

@keyframes hover-lock {
	from {
		transform: translateY(-20px);
	}
	to {
		transform: translateY(0px);
	}
}
@keyframes scale-lock-shadow {
	from {
		transform: scale(0.8);
		-webkit-transform: scale(0.8);
	}
	to {
		transform: scale(1.1);
		-webkit-transform: scale(1.1);
	}
}

@keyframes hover-phone {
	from {
		transform: translateY(-20px);
	}
	to {
		transform: translateY(0px);
	}
}
@keyframes scale-phone-shadow {
	from {
		transform: scale(0.8);
		-webkit-transform: scale(0.8);
	}
	to {
		transform: scale(1.1);
		-webkit-transform: scale(1.1);
	}
}

#hobokenButtonContainer {
	animation: hobokenEmphasize 8s infinite;
}
#hobokenButtonContainer:hover {
	animation: hobokenEmphasize 0s infinite;
	box-shadow: 0px 0px 25px 1px rgba(255, 255, 255, 0.5);
}
/* @keyframes hobokenEmphasize {
	0% {
		transform: translateY(0px);
	}
	10% {
		transform: translateY(0px);
	}
	13% {
		transform: translateY(5px);
	}
	16% {
		transform: translateY(0px);
	}
	19% {
		transform: translateY(5px);
	}
	21% {
		transform: translateY(0px);
	}
	100% {
		transform: translateY(0px);
	}
} */

@keyframes hobokenEmphasize {
	0% {
		transform: scale(1);
		-webkit-transform: scale(1);
	}
	10% {
		transform: scale(1);
		-webkit-transform: scale(1);
	}
	13% {
		transform: scale(1.05);
		-webkit-transform: scale(1.05);
	}
	16% {
		transform: scale(1);
		-webkit-transform: scale(1);
	}
	19% {
		transform: scale(1.05);
		-webkit-transform: scale(1.05);
	}
	21% {
		transform: scale(1);
		-webkit-transform: scale(1);
	}
	100% {
		transform: scale(1);
		-webkit-transform: scale(1);
	}
}

/* 
.auto-scroll-card {
	animation: auto-scroll-card 10s linear infinite;
}
.auto-scroll-card:hover,
.auto-scroll-card:focus {
	animation-play-state: paused;
}
@keyframes auto-scroll-card {
	from {
		transform: translateX(-250%);
	}
	to {
		transform: translateX(250%);
	}
} */

/* #navbar-component {
	animation: nav-bar 2s ease-in-out;
}
@keyframes nav-bar {
	from {
		background-color: transparent;
	}
	to {
		background-color: #7026ab;
	}
} */
