/* * {
	border-width: 1px;
	border-style: solid;
	border-color: black;
} */
:root {
	/* colors */
	--body-white: #f5f5f5;
	--background_grey: #272727;
	--custom-purple: #7026ab;
	--dark_purple: #3e1d58;
	--light_purple: #9b64bc;
	--light_grey: #bebebe;
	--background_blue: #317ec6;
	
}

@media screen and (max-width: 768px) {
	/* MOBILE */
	:root {
		/* HEADER */
		--navbar_height: 8vh;
		--navbar_min_height: 50px;
		--navbar_img_size: 4vh;
		--navbar_horizontal_padding: 0px;
		--sidebar_width: 100px:
		--navbar_min_img_size: 20px;
		/* VIEWS */
		--view_1_margin_top: 0vh;
		--view_1_height: 85vh;
		--view_1_padding_top: 4vh;
		--view_1_padding_bottom: 35vh;
		--view_1_subtitle_padding: 5vh;
		--waves_margin_top: 0vh;
		--waves_margin_left: -70px;
		--appstore_min_width: 250px;
		--appstore_max_width: 400px;

		--margin_carousel: 5vw; 

		
		/* TEXT */
		--FS_main: 2.5em;
		--FS_section: 2em;
		--FS_section: 1.75em;
		--FS_medium: 1.5em;
		--FS_small: 1.25em;
		--FS_sub: 1em;
		--F6: 1.25em;

		/* Styling */
		--padding_sm: 5vw;
		--padding_md: 10vw;
		--padding_lg: 35vw;
	}
	[class*="col-"] {
		width: 100%;
	}
	.desktop-only {
		display: none;
		visibility: hidden;
		position: absolute; 
	}
	.mobile-only{
		
		visibility: visible
	}
	#VED-title-container{
		padding-top: 0px;
		margin-left: 0px; 
		
	}

	.card-container{
		flex-direction: column;
	}
	.card{
		padding: 10px;
	}
}
@media screen and (min-width: 769px) {
	/* WEB */
	:root {
		/* HEADER */
		--navbar_height: 9vh;
		--navbar_min_height: 75px;
		--navbar_img_size: 5vh;
		--sidebar_width: 100px:
		
		--navbar_min_img_size: 45px;
		/* VIEWS */
		--view_1_height: 90vh;
		--view_1_margin_top: 1vh;
		
		--view_1_padding_top: 8vh;
		--view_1_padding_bottom: 5vh;
		--view_1_subtitle_padding: 5vh;
		--waves_margin_top: -5vh;
		--waves_margin_left: -100px;
		--appstore_min_width: 250px;
		--appstore_max_width: 300px;
		/* TEXT */
		--FS_main: 5vw;
		--FS_section: 3vw;
		--FS_section: 2.3vw;
		--FS_medium: 2vw;
		--FS_small: 1.5vw;
		--FS_sub: 1vw;
		--F6: 1.25em;

		/* Styling */
		--padding_sm: 3vh;
		--padding_md: 10vh;
		--padding_lg: 15vh;
	}
	
	.desktop-only {
		visibility: visible;
		display: block;
	}
	.mobile-only {
		display: none;
		visibility: hidden;
	}
	.card-container{
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
	}
	[class*="row"]{
		padding-left: 15vw;
		padding-right: 15vw;
	}
}

/* root components */
html {
	box-sizing: border-box;
	overflow-x: hidden;
}
*,
*:before,
*:after {
	box-sizing: inherit;
}
body {
	margin: 0;
	width: 100%;
	overflow-x: hidden;
	align-items: center;
	background-color: var(--body-white);
	
}
a {
	text-decoration: none;
	color: black;
}
.container {
	width: 100%;
	padding: var(--padding_sm);
	align-items: center;
	justify-content: center;
}
.custom-purple {
	background-color: var(--custom-purple);
}
.sub-container {
	margin-left: auto;
	margin-right: auto;
}

/* STYLING CLASSES */
[class*="row"] {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
}
[class$="-wrap"] {
	flex-wrap: wrap;
}
[class$="-start"] {
	justify-content: flex-start;
}
[class$="-end"] {
	justify-content: flex-end;
}
[class$="-bewteen"] {
	justify-content: space-between;
}
[class$="-evenly"] {
	justify-content: space-evenly;
}
[class$="-around"] {
	justify-content: space-around;
}

.right {
	float: right;
	width: 300px;

	padding: 10px;
}
.left {
	float: right;
	width: 300px;

	padding: 10px;
}
.center {
	
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	align-items: center;
	justify-content: center;
	margin: auto;
}
.full-width {
	width: 100vw;
}
.horizontal-text-center {
	text-align: center;
}
.vertical-text-center {
	margin-top: auto;
	margin-bottom: auto;
}
.vertical-align {
	justify-content: center;
}
.padding-sm {
	padding: var(--padding_sm);
}
.padding-md {
	padding: var(--padding_md);
}
.padding-lg {
	padding: var(--padding_lg);
}
/* TEXT */

[class*="title"] {
	font-family: Comfortaa;
	text-align: center;
}
[class$="-main"] {
	font-size: var(--FS_main);

}
[class$="-section"] {
	font-size: var(--FS_section);
}
[class$="-large"] {
	font-size: var(--FS_section);
}

[class$="-medium"] {
	font-size: var(--FS_medium);
}
[class$="-small"] {
	font-size: var(--FS_small);
}
[class$="-sub"] {
	font-size: var(--FS_sub);
}

.white-text {
	color: white;
}
.black-text {
	color: #000;
}
[class^="comfortaa-"] {
	font-family: Comfortaa;
}
[class$="light"] {
	font-weight: 200;
}
[class$="reg"] {
	font-weight: 400;
}
[class$="medium"] {
	font-weight: 600;
}
[class$="bold"] {
	font-weight: 800;
}
p {
	font-family: sans-serif;
}
/* VECTORS */
.waves-container {
	position: absolute; 
	bottom: 0;
	z-index: 3;
	margin-top: var(--waves_margin_top);
	margin-left: var(--waves_margin_left);
	left: 50%; 
	
	transform: translate(-50%, 50%);
	/* margin-bottom: -15px; */
}
.waves-container #waves{
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translate(-50%, 0);
	z-index: 3;
}

/* FORMS */
form {
	padding: 5px 15px;
	align-items: center;
}
.form-field-wrapper {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	margin: 10px;
	border-radius: 10px;
	border-width: 1px;
	border-color: var(--background_grey);
	border-style: solid;
	overflow: hidden;
	/* box-shadow: -2px 2px 5px var(--background_grey); */
}
[class*="form-label-"] {
	font-family: Arial, Helvetica, sans-serif;
	display: flex;
	flex-direction: columnn;
	flex-wrap: nowrap;
	align-items: center;
	text-align: left;
	font-size: 0.95em;
	padding: 0px 5px;
	background-color: #d6d6d6;
	border-color: #696969;
	border-width: 0.75px;
	border-right-style: solid;
}
[class*="form-input-"] {
	height: 4vh;

	border-width: 0px;
	padding-inline-start: 5px;
	width: 90%;
}
[class*="sign-up-button"] {
	background-color: white;

	display: block;

	border-radius: 15px;
	padding: 10px 10px;
	margin-top: 5px;
	text-align: center;
	justify-content: center;
	/* box-shadow: -3px 3px var(--light_purple); */
}

.sign-up-button-large {
	min-width: 150px;
	width: 20vh;
}
.sign-up-button-medium {
	min-width: 100px;
	width: 3vh;
}
.sign-up-button-purple {
	background-color: #7026ab;
}

[class*="btn-text"] {
	margin: auto;
	text-align: center;

	font-family: "Comfortaa";
}
.btn-text-large {
	font-size: 1.5em;
}
.btn-text-medium {
	font-size: 1em;
}
.btn-text-white {
	color: #fff;
}
.hover-grow{
	padding:5px 10px;
}
.hover-grow:hover{
	transform: scale(1.05);

}

/* Navbar */
#myNavbar {
	position: fixed;
	z-index: 20;
	top: 0;
	width: 100%;
	background-color: var(--custom-purple);
	height: var(--navbar_height);
	min-height: var(--navbar_min_height);
	justify-content: space-between;
	padding: 10px 15px;
	flex-wrap: nowrap;
}
#nav-image-container{
	display: flex;
	align-content: start;
	justify-content: center;
	flex-wrap: nowrap;
	flex-direction: row;
	
	margin-bottom: 40px;
}

.logo-image {
	
	width: var(--navbar_img_size);
	height: var(--navbar_img_size);
	min-width: var(--navbar_min_img_size);
	min-height: var(--navbar_min_img_size);
	max-width: 50px;
	max-height: 50px;
	margin-top: -5px;

}

#menu-icon:hover {
	opacity: 0.8;
}

#get-now-link-nav {
	align-self: center;
	font-size: 20px;
}
#sign-up-button-nav:hover {
	opacity: 0.8;
}

.backdrop-container {
	display: none;
	position: fixed;
	z-index: 7;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgb(0, 0, 0);
	background-color: rgba(0, 0, 0, 0.4);
	-webkit-animation: fadeIn 1.2s ease-in-out;
	animation: fadeIn 1.2s ease-in-out;
}

.sidenav-container {
	height: 100%;
	width: var(--sidebar_width);
	width: 0;
	position: fixed;
	z-index: 8;
	top: 0;
	left: 0;
	background-color: rgb(243, 243, 243);
	overflow-x: hidden;
	transition: 0.5s;
	padding-top: 10px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.sidenav-container a {
	text-decoration: none;
	font-size: 1rem;
	color: #000000;
	display: block;
	transition: 0.3s;
	margin: 10px 15px;
}

.sidenav-container a:hover {
	color: #383838;
}

.sidenav-container .closebtn {
	font-size: 3rem;
	font-weight: 700;
	color: rgb(0, 0, 0);
	padding-right: 1rem;
}

.sidenav-container .drawer-close-button {
	height: 3rem;
	width: 100%;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	margin-bottom: 3rem;
}
/* VIEW 1-title-container */
#view-1-container {
	/* height: var(--view_1_height); */
	padding-top: var(--view_1_padding_top);
	padding-bottom: var(--view_1_padding_bottom);
	margin-top: var(--navbar_height);
	margin-bottom: 10vh;
	z-index: 2;
	text-align: left;
	background-image: linear-gradient(
		var(--custom-purple),
		var(--light_purple),
		var(--body-white)
	);
}

#VED-title {
	margin-top: 0px;
	margin-bottom: 0px;
	color: white;
	font-family: "Comfortaa";
	font-size: var(--FS_main);
	text-align: left;
	padding-top: var(--view_1_padding_top);
}
#title-content-container {
	margin-top: var(--view_1_margin_top);
	flex-direction: column;
	flex-wrap: nowrap;
	align-items: center;
	justify-content: flex-start;
	
}
#make-difference-subtitle {
	text-align: left;
}
#hoboken-launch{
	color: white;
	background-color: rgb(255, 91, 91);
	padding: 5px 15px;
	border-radius: 10px;
	min-width: 350px;
	width: 25vw;
	
}
#hoboken-launch h4{
	text-align: center;
	padding: 5px;
	margin: 5px;
}
#appstore-download-container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	width: 45vw;
	z-index: 10;
	
}
.appstore-download {
	
	min-width: var(--appstore_min_width);
	width: 20vw;
	max-width: var(--appstore_max_width);
	height: auto;
	padding: 0px 5px;
}
.phone-container{
	display: flex;
flex-direction: column;
flex-wrap: nowrap;
align-items: center;
justify-content: center;
margin: auto;
}
/* .phone-container{
	
	min-width: 300px;
	align-items: center;
	justify-content: center;
} */

/* VIEW 2-why-quae*/
#why-quae-container {
	/* padding: var(--padding_lg) 0px; */
	margin-top: var(--padding_md);
	padding-bottom: var(--padding_md);
	align-items: center;
	padding-bottom: 100px;
	background: rgb(112,38,171);
background: linear-gradient(233deg, rgba(112,38,171,1) 13%, rgba(91,42,130,1) 13.5%, rgba(91,42,130,1) 20%, rgba(112,38,171,1) 33%,
 									rgba(91,42,130,1) 33.5%, rgba(91,42,130,1) 40%, rgba(112,38,171,1) 53%,
 									rgba(91,42,130,1) 53.5%, rgba(91,42,130,1) 60%, rgba(112,38,171,1) 73%, rgba(91,42,130,1) 73.5%,
 									rgba(91,42,130,1) 80%, rgba(112,38,171,1) 93%, rgba(91,42,130,1) 93%);
	
}
#why-quae-sub-gradient{
	height: 1200%;
	background: rgb(255,255,255);
background: linear-gradient(0deg, rgba(255,255,255,0) 0%, rgba(245,245,245,1) 90%);
}
#list-container {
	width: 90vw;
	align-items: center;
	justify-content: center;
}



/* VIEW 3 */
#id-secure-container{
	background-color: var(--custom-purple);
	margin-top: 0px;
	margin-bottom: 0px;
	padding-top: 20vh;
	padding-bottom: 20vh;

}
#id-svg{
	width: 30vw;
	min-width: 400px;
	padding: 30px 10px;
	
}
#city-list {
	list-style-type: none;
	align-self: center;
	padding-inline-start: 0px;
	padding-inline-end: 0px;
	/* padding: 2.5vw; */

}

#city-list li {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-self:flex-start;
}
#city-list img {
	height: 12vh;
	min-height: 45px;
	align-self: center;
	padding: 10px;
}
#city-list li .text-container {
	display: flex;
	flex-direction: row; 
	text-align: left;
	align-items: center;

}
#city-list .text-container h4{
	margin-top: 0px;
	margin-bottom: 0px;
	text-align: start;
}
#hoboken-img{
	width: 70vw;
	max-width: 600px;
	min-width: 400px;
}

/* how it works */
.product-phone-container{
	padding: 25px ;
	
}
.product-number{
	width: 2vw;
	min-width: 45px;
	align-self: center;
}
/* #how-it-works-container{
	background-color: var(--background_blue);
}*/
#how-it-works-container p{


	
}
.how-it-works{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-content: center;
	align-items: center;
	margin: 20px 0px;
}
.how-it-works-content{
	width: 90%;
	max-width: 400px;
	align-items: center;
}
.how-it-works-img{
	max-width: 450px;
	width: 90%;
	height: auto;
	align-self: center;
	margin: auto;
}
[class*="explain-"]{
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	
}
[class*="explain-"] h3{
	padding-inline-start: 10px;
	
}

.explain-number{
	margin: 50px;
}

.product-number{
	padding: 3px;
}
/* vote-for-what-you-beleive-in */


#post-example-container{
	background: rgb(38,94,146);
background: linear-gradient(0deg, rgba(38,94,146,1) 0%, rgba(75,145,210,1) 100%);
padding: 20vh 0vh;
flex-direction: column;
align-items: center;
justify-content: center;
	/* background-color: var(--background_blue); */
}
.slideshow-container {
	max-width: 60%;
	margin: auto;
}
.carousel-card{
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	padding: 0px;
	
	
}
.carousel-card-content{
	background-color: var(--body-white);
	margin-bottom: 10vh;
	margin-top: 10vh;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	border-radius: 80px;
	margin-right: 10vw;
	margin-left: 10vw;
	padding: 10px 30px;

	
}
.carousel-img{
	width: 6vw;
	height: 6vw;
	min-width: 50px ;
	min-height: 50px;
	max-width: 125px;
	max-height: 125px;
	margin-right: 2vw;
}



/* your city is in your hands */
#city-in-your-hands-container{
	padding: 10vh 0px
}

.skyline{
	
	transform: scale(1.5);
	
}

/* get-now */
#get-now{
	background-color: var(--light_purple);
	padding: 100px 0px;
}
#sign-up-form-container{
	
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: space-evenly;
	width: 100%;
	min-width: 30vw;
	max-width: 550px;
	border-radius: 10px;
	/* margin: 15px ;
	padding: 15px; */

	
}
#sign-up-form{
	padding-right: 1px;
	padding-left: 0px;

}
#text-logo{
	height: 40px;
	transform:scaleX(-1);
	margin-left: -10px;

}
#sign-up-form-container input{
	min-width: 100px;
}
#sign-up-form-container button{
	background-color: var(--custom-purple);
	border-radius: 8px;
}
#appstore-container{
	/* width: */
	min-width: 10vw;
}

footer {
	padding: 3vh;
	background-color: var(--dark_purple);
	flex-direction: row;
	flex-wrap: wrap-reverse;
	align-items: center;
	justify-content: center;
}
footer a{
	color: white;
}
footer a:hover{
	transform: scale(1.1);
	color: white;
	opacity: 0.8;
}
.social-icons
{
  padding-left:0;
  margin-bottom:0;
  list-style:none
}
.social-icons li
{
  display:inline-block;
  justify-content: center;
  align-items: center;
  margin-bottom:4px
}
.social-icons li.title
{
  margin-right:15px;
  text-transform:uppercase;
  color:#96a2b2;
  font-weight:700;
  font-size:13px
}
.social-icons a{
  background-color:#eceeef;
  color:#818a91;
  font-size:16px;
  display:inline-block;
  line-height:44px;
  width:44px;
  height:44px;
  text-align:center;
  margin-right:8px;
  border-radius:100%;
  -webkit-transition:all .2s linear;
  -o-transition:all .2s linear;
  transition:all .2s linear
}
.social-icons a:active,.social-icons a:focus,.social-icons a
{
  color:#fff;
  background-color:#29aafe
}
.social-icons.size-sm a
{
  line-height:34px;
  height:34px;
  width:34px;
  font-size:14px
}
.social-icons a.facebook
{
  background-color:#3b5998
}
.social-icons a.twitter
{
  background-color:#00aced
}
.social-icons a.linkedin
{
  background-color:#007bb6
}
.social-icons a.instagram
{
	background: #d6249f;
	background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
}




#pricing-header{
	background: rgb(181,123,255);
	background: linear-gradient(180deg, rgba(181,123,255,1) 10%, rgba(112,38,171,1) 100%);
	justify-content: flex-start;
	padding-bottom: 5vh;
}
.pricing-card-list{
	align-self: flex-start;
	padding: 10px;
	margin: 0;
}
.pricing-card h4{
	font-size: 1.25em;
	margin: 0px;

}
.sponsor-img-wrapper{
	height: 20vh;
	justify-content: center;
	
}
.sponsor-img{
	
	height: 100%; 
	align-self: flex-start;
	padding: 10px;
	

}
/* #stevens{
	width: auto;
	height: 150%;
	transform: translate(0%, -20%);
} */
.linkedin-logo{
	display: block;
	height: 30px; 
	width: 30px;
	padding: 8px;
	padding-bottom: 20px;
	align-items: center;
	justify-content: center;
	border-radius: 100%;
}
.linkedin-logo a{
	height: 30px; 
	width: 30px;
	color: #007bb6;
	align-items: center;
	justify-content: center;
}
.linkedin-logo:hover {
	transform: scale(1.1);
	background-color: #ccc;
}
.profile-pic{
	border-radius: 40px;
	box-shadow: 0 5px 20px 0px rgba(0, 0, 0, 0.2);
}

