<!DOCTYPE html>
<html>
	<head>
		<title>Quae</title>
		<meta charset="UTF-8" />

		<meta
			name="viewport"
			content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, target-densityDpi=device-dpi"
		/>
		<meta name="authors" content="Brendan Probst & Sam Schmitt" />
		<meta
			name="description"
			content="quae is a platform that makes participating in your local politics as easy as pulling out your phone"
		/>
		<meta
			name="keywords"
			content="Politics, Local Politics, Voting, Hoboken, Hoboken Politics, City Council, Poll, Voting, "
		/>
		<link rel="icon" href="assets/img/quae_logo_square.png" />
		<link href="/assets/css/material-kit.css?v=2.0.7" rel="stylesheet" />
		<link rel="stylesheet" href="../../assets/css/styles.css" />
		<link rel="stylesheet" href="assets/css/animations.css" />
		<link
			href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap"
			rel="stylesheet"
		/>
        <link
			rel="stylesheet"
			href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css"
		/>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
		<script src="assets/js/animations.js"></script>
		<!-- Global site tag (gtag.js) - Google Analytics -->
		<script
			async
			src="https://www.googletagmanager.com/gtag/js?id=G-4CS6KQ279Q"
		></script>
		<script>
			window.dataLayer = window.dataLayer || [];
			function gtag() {
				dataLayer.push(arguments);
			}
			gtag("js", new Date());

			gtag("config", "G-4CS6KQ279Q");
		</script>
	</head>
 
<body>
  <!-- Navigation -->
  <nav id="myNavbar" class="nav custom-purple">
    <div id="nav-image-container" class="nav-link">
        <span
            onClick="openNav()"
            class="mobile-nav-open-icon mobile-only navbar-brand"
        >
            <div class="logo-image">
                <img src="../../assets/svg/menu.svg" class="img-fluid" />
            </div>
        </span>
        <div class="backdrop-container" id="backdrop"></div>

        <div id="mySidenav" class="sidenav-container">
            <span class="drawer-close-button">
                <a href="javascript:void(0)" class="closebtn" onclick="closeNav()"
                    >&times;</a
                >
            </span>

            <a href="./" onclick="closeNav()" id="home-drawer-link">Home</a>
            <a
                href="./about_us"
                onclick="closeNav()"
                id="about-us-drawer-link"
                >About Us</a
            >
            <a
                href="./pricing"
                onclick="closeNav()"
                id="pricing-drawer-link"
                >Pricing</a
            >
            <a href="./blog" onclick="closeNav()" id="blog-drawer-link"
                >Blog</a
            >
        </div>
        <a class="navbar-brand" href="/">
            <div class="logo-image">
                <img
                    src="../../assets/svg/quae_logo_white_no_background.svg"
                    class="img-fluid"
                />
            </div>
        </a>
    </div>
    <div class="float-right vertical-text-center">
        <a class="nav-link float-right hover-grow" href="./#get-now"
            ><div
                id="get-now-link-nav"
                class="comfortaa-bold white-text float-right vertical-text-center"
            >
                Get Now
            </div>
        </a>

        <a class="nav-link float-right hover-grow" href="./about_us">
            <div
                id="about-us-link-nav"
                class="comfortaa-bold white-text float-right desktop-only"
                style="text-transform: none"
            >
                About Us
            </div>
        </a>
        <a class="nav-link float-right hover-grow" href="./pricing">
            <div
                id="pricing-link-nav"
                class="comfortaa-bold white-text float-right desktop-only"
                style="text-transform: none"
            >
                Pricing
            </div>
        </a>
        <a class="nav-link float-right hover-grow" href="./blog">
            <div
                id="blog-link-nav"
                class="comfortaa-bold white-text float-right desktop-only"
                style="text-transform: none"
            >
                Blog
            </div>
        </a>
    </div>
    <script>
        let URL = window.location.href;
        console.log(URL);
        if (URL.includes("about_us")) {
            document.getElementById("about-us-drawer-link").style.opacity = "0.5";
            document.getElementById("about-us-link-nav").style.opacity = "0.5";
            document.getElementById("home-drawer-link").style.display = "block";
        }
        if (URL.includes("pricing")) {
            document.getElementById("pricing-drawer-link").style.opacity = "0.5";
            document.getElementById("pricing-link-nav").style.opacity = "0.5";
            document.getElementById("home-drawer-link").style.display = "block";
        }
        if (URL.includes("blog")) {
            document.getElementById("blog-drawer-link").style.opacity = "0.5";
            document.getElementById("blog-link-nav").style.opacity = "0.5";
            document.getElementById("home-drawer-link").style.display = "block";
        } else {
            document.getElementById("home-drawer-link").style.display = "none";
        }
    </script>
</nav>
 
  @!section('content')
 
  <!-- Footer -->
  <footer class="row-wrap">
    <div class="white-text">
        <h5 class="comfortaa-light text-center">Find Us Online</h5>
        <ul class="social-icons">
            <li>
                <a
                    class="facebook"
                    href="https://www.facebook.com/quaeapp"
                    target="_blank"
                    ><i class="fa fa-facebook"></i
                ></a>
            </li>
            <li>
                <a
                    class="twitter"
                    href="https://twitter.com/Quae_App"
                    target="_blank"
                    ><i class="fa fa-twitter"></i
                ></a>
            </li>
            <li>
                <a
                    class="instagram"
                    href="https://www.instagram.com/quaeapp/"
                    target="_blank"
                    ><i class="fa fa-instagram"></i
                ></a>
            </li>
        </ul>

        <div class="white-text">
            <div class="comfortaa-light">Quae &copy; 2021 All Rights Reserved</div>
        </div>
        <div class="white-text row">
            <div class="comfortaa-light"style="padding: 3px 5px">Contact us at info@quae.app</div>
        </div>
    </div>
    <div class="white-text">
        <div class="row-center">
            <a href="/"> <p class="comfortaa-light padding-sm">Home</p></a>
            <a href="./about_us">
                <p class="comfortaa-light padding-sm">About&nbspUs</p></a
            >
            <a href="./pricing">
                <p class="comfortaa-light padding-sm">Pricing</p></a
            >
            <a href="./blog">
                <p class="comfortaa-light padding-sm">Blog</p></a
            > 
        </div>
    </div>
</footer>

<script
    src="https://apis.google.com/js/platform.js?onload=renderButton"
    async
    defer
></script>
<script src="assets/js/core/jquery.min.js" type="text/javascript"></script>
<script src="assets/js/core/popper.min.js" type="text/javascript"></script>
<script
    src="assets/js/core/bootstrap-material-design.min.js"
    type="text/javascript"
></script>
<script src="assets/js/plugins/moment.min.js"></script>

<!-- Place this tag in your head or just before your close body tag. -->
<script async defer src="https://buttons.github.io/buttons.js"></script>
<!-- Control Center for Material Kit: parallax effects, scripts for the example pages etc -->
<script
    src="assets/js/material-kit.js?v=2.0.7"
    type="text/javascript"
></script>
</body>
</html>