@use "../../var";
@import "../../mixins";

#features {
	padding-top: 15rem;
	#core-features-container {
		@include flex-container(row, center, center, wrap);
		width: 100%;
		.feature {
			width: 20rem;
			padding: 1rem;
			border-radius: 1rem;
			margin: 1rem;
			.header {
				@include flex-container(row, flex-start, center, nowrap);
				img {
					height: 4rem;
					width: 4rem;
					border-radius: 2rem;
					&.vote {
						background-color: var.$primary-light;
					}
					&.propose {
						background-color: var.$accent1-light;
					}
					&.act {
						background-color: var.$accent2-light;
					}
				}
				.text {
					padding-left: 1rem;
				}
			}
			.body {
				padding-top: 1rem;
			}
			.footer {
				padding-top: 1rem;
				color: var.$text-secondary;
			}
		}
	}
}
#id-verification-content,
#procedure-content {
	padding: 2rem;
	p {
		max-width: 50ch;
	}
}
#id-verification-content {
	opacity: 0;
	transition: all 0.5s linear;
	transform: translateY(-10%);
	@include flex-container(column, center, center, nowrap);

	&.procedureVisible {
		padding: 2rem;

		opacity: 0;
		transition: all 0.5s linear;
	}
	&.idVisible {
		padding: 2rem;
		transform: translateY(10%);
		opacity: 1;
		transform: translateY(0);
		transition: all 0.5s linear;
	}
	&.noneVisible {
		padding: 2rem;

		opacity: 0;
	}
}
#procedure-content {
	opacity: 0;
	transition: all 0.5s linear;
	transform: translateY(-10%);
	@include flex-container(column, center, center, nowrap);

	&.procedureVisible {
		padding: 2rem;

		opacity: 1;
		transform: translateY(0);

		transition: all 0.5s linear;
	}
	&.idVisible {
		padding: 2rem;
		transform: translateY(10%);
		opacity: 0;
		transition: all 0.5s linear;
	}
	&.noneVisible {
		padding: 2rem;

		opacity: 0;
	}
}

#advance-features {
	height: 50vh;
	width: 100vw;
	padding: 0;
	&.sticky-container {
		height: 200vh;
		width: 100vw;
	}
	.sticky {
		max-width: 100rem;
		width: 100%;
		@include flex-container(row, center, center, nowrap);
		.content {
			width: 50%;
			height: 100%;
		}
	}
	.scrolling {
		padding: 0;
		max-width: 100rem;
		height: 100%;
		width: 100%;
		@include flex-container(column, flex-start, center, nowrap);

		.img-container {
			height: 50%;
			width: 100%;
			&.id {
				background-color: red;
				border-bottom-right-radius: 30%;
				margin-right: auto;
			}
			&.procedure {
				background-color: yellow;
				border-top-left-radius: 30%;

				margin-left: auto;
			}
		}
	}
}
@media screen and (min-width: 800px) {
	#advance-features {
		&.sticky-container {
		}
		.sticky {
			.content {
			}
		}
		.scrolling {
			max-width: 100rem;
			height: 100%;
			width: 100%;
			@include flex-container(column, flex-start, center, nowrap);

			.img-container {
				height: 50%;
				width: 50%;
				&.id {
					border-bottom-right-radius: 30%;
					margin-right: auto;
				}
				&.procedure {
					border-top-left-radius: 30%;

					margin-left: auto;
				}
			}
		}
	}
}
@media screen and (max-width: 800px) {
	#advance-features {
		height: 50vh;
		width: 100vw;
		&.sticky-container {
			// height: 100vh;
			width: 100vw;
		}
		.sticky {
			// position: fixed;
			max-width: 100rem;
			width: 100%;

			.content {
				position: absolute;
				top: 0;
				bottom: 0;
				width: 100%;
				height: 100%;
				background-color: purple;
			}
		}
		.scrolling {
			z-index: -1;
			max-width: 100rem;
			height: 100%;
			width: 100%;
			@include flex-container(column, flex-start, center, nowrap);

			.img-container {
				height: 50%;
				width: 100%;
				&.id {
					background-color: red;
					border-bottom-right-radius: 30%;
				}
				&.procedure {
					background-color: yellow;
					border-top-left-radius: 30%;
				}
			}
		}
	}
}
#small-features {
	#small-features-container {
		width: min(100%, 50rem);
		display: -ms-grid;
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		-ms-grid-column: 1fr 1fr 1fr;
		grid-column: 1fr 1fr 1fr;
		justify-content: stretch;
		gap: 1rem;
		.card {
			width: 100%;
			@include flex-container(column, center, center, nowrap);
			.img-container {
				@include standard-shadow();
				border-radius: 50%;
				height: 5rem;
				width: 5rem;
				background-color: var.$fg;
				img {
					height: 3rem;
					width: 3rem;
					margin: 1rem;
				}
			}
			.content {
				padding-top: 2rem;
			}
		}
	}
}
@media screen and (max-width: 800px) {
	#small-features {
		#small-features-container {
			width: min(100%, 50rem);
			display: -ms-grid;
			display: grid;
			grid-template-columns: 1fr 1fr;
			-ms-grid-column: 1fr 1fr;
			grid-column: 1fr 1fr;
			justify-content: stretch;
			gap: 0.5rem;
		}
	}
}
#any-community {
	width: min(100%, 80rem);
	#any-community-container {
		@include flex-container(row, center, center, wrap);
		height: max-content;
		.card {
			flex: 1;
			height: 100%;
			margin: 0.3rem;
			width: min(100%, 25rem);
			border-radius: 0.25rem 0.25rem 0.5rem 0.5rem;
			overflow: hidden;
			padding: 0;
			.img-container {
				height: 12rem;
				overflow: hidden;
				@include flex-container(column, center, center, nowrap);
			}
			.content {
				height: 10rem;
				padding: 1rem;
				@include flex-container(column, flex-start, flex-start, nowrap);
				p {
					margin: 0.5rem 0;
					flex: 1;
				}
				button {
					margin-top: auto;
				}
			}
		}
	}
}
