@use "../../var";
@import "../../mixins";

#features {
	padding-top: 15rem;
	.features-container {
		@include flex-container(row, center, center, wrap);
		width: 100%;
		.feature {
			width: 20rem;
			padding: 1rem;
			border-radius: 1rem;
			margin: 1rem;
			.header {
				@include flex-container(row, flex-start, center, nowrap);
				img {
					height: 4rem;
					width: 4rem;
					border-radius: 2rem;
					&.vote {
						background-color: var.$primary-light;
					}
					&.propose {
						background-color: var.$accent1-light;
					}
					&.act {
						background-color: var.$accent2-light;
					}
				}
				.text {
					padding-left: 1rem;
				}
			}
			.body {
				padding-top: 1rem;
			}
			.footer {
				padding-top: 1rem;
				color: var.$text-secondary;
			}
		}
	}
}
#advance-features {
	height: 50vh;
	width: 100vw;
	max-width: 90rem;
	padding: 0;
	&.sticky-container {
		height: 200vh;
		width: 100vw;
	}
	.sticky {
		width: 100%;
		padding: 1rem;
		@include flex-container(row, center, center, nowrap);
		.content {
			width: 50%;
			height: 100%;
			@include flex-container(column, center, center, nowrap);
			// background-color: pink;
		}
	}
	.scrolling {
		height: 100%;
		width: 100%;
		@include flex-container(column, flex-start, center, nowrap);

		.img-container {
			height: 50%;
			width: 50%;
			&.id {
				background-color: red;
				margin-right: auto;
			}
			&.procedure {
				background-color: yellow;
				margin-left: auto;
			}
		}
	}
}
