@use "../../var";
@import "../../mixins";
.typed-text {
	display: inline;
	min-width: 1px;
	// min-height: 4rem;
}
#cursor {
	display: inline-block;
	height: 2rem;
	padding: 1px;
	background-color: var.$text;
	animation: blink 1s infinite linear;
	&.typing {
		animation: none;
	}
}

@keyframes blink {
	0% {
		opacity: 1;
	}
	50% {
		opacity: 0;
	}
}
@keyframes bob1 {
	0% {
		transform: rotate(30deg) translate(-40%, -10%);
	}
	25% {
		transform: rotate(30deg) translate(-35%, -18%);
	}
	50% {
		transform: rotate(30deg) translate(-42%, -15%);
	}
	75% {
		transform: rotate(30deg) translate(-45%, -6%);
	}

	100% {
		transform: rotate(30deg) translate(-40%, -10%);
	}
}
@keyframes bob2 {
	0% {
		transform: rotate(32deg) translate(-43%, -13%);
	}
	25% {
		transform: rotate(32deg) translate(-32%, -4%);
	}
	50% {
		transform: rotate(32deg) translate(-48%, -7%);
	}
	75% {
		transform: rotate(32deg) translate(-38%, -15%);
	}

	100% {
		transform: rotate(32deg) translate(-43%, -13%);
	}
}
@keyframes bob3 {
	0% {
		transform: rotate(27deg) translate(-37%, -8%);
	}
	25% {
		transform: rotate(27deg) translate(-30%, -14%);
	}
	50% {
		transform: rotate(27deg) translate(-32%, -16%);
	}
	75% {
		transform: rotate(27deg) translate(-42%, -6%);
	}

	100% {
		transform: rotate(27deg) translate(-37%, -8%);
	}
}
.landing-view {
	min-height: 80vh;
	position: relative;
	padding: 1rem;
	padding-top: 0;
	padding-bottom: 0;
	margin-bottom: 0;
	@include flex-container(column, center, center, nowrap);
	.img-container {
		&.primary {
			background-color: var.$primary-light;
			z-index: 3;
			animation: bob1 5s infinite ease-in-out;
		}
		&.blue {
			background-color: var.$accent1-default;
			animation: bob2 6s infinite ease-in-out;
			z-index: 2;
		}
		&.pink {
			background-color: var.$accent2-default;
			animation: bob3 7s infinite ease-in-out;
			z-index: 1;
		}
		opacity: 0.5;
		height: 100%;
		width: max(55%, 30rem);
		position: absolute;
		left: 0;
		top: 0;
		z-index: -1;
		border-radius: 10%;
		// transform: rotate(30deg) translate(-40%, -10%);
		@include standard-shadow();
	}
	.landing-grid {
		z-index: 4;
		display: -ms-grid;
		display: grid;
		gap: 0.5rem;
		padding-bottom: 1rem;
		.product {
			padding: 2rem;
		}
		.title {
			padding-bottom: 0;
			text-align: left;
			width: 100%;
			h1 {
				font-size: calc(3rem + 1vw);
				text-align: start;
			}
			h2 {
				text-align: start;
				display: inline;
			}
		}
		.subtext {
			margin: 0;
			p {
				text-align: left;
			}
			.typing {
				text-align: left;
				min-height: 8rem;
			}
			.download-buttons {
				margin-top: 1rem;
			}
		}
	}
}
@media (max-width: 576px) {
	//mobile
	.landing-view {
		padding: 1rem;
		.img-container {
			width: 40rem;
			transform: rotate(30deg) translate(-60%, -30%);
			transition: transform 1s linear;
		}
		.landing-grid {
			grid-template-rows: auto auto auto auto;
			-ms-grid-rows: auto auto auto auto;
			grid-template-columns: 1fr;
			-ms-grid-columns: 1fr;
			width: 100%;
			.title {
				text-align: left;
				font-size: var.$XL;
				-ms-grid-row: 1/2;
				grid-row: 1/2;
			}
			.product {
				-ms-grid-row: 2/3;
				grid-row: 2/3;
				margin: 0 auto;
				padding: 0 0.5rem;
				height: 35rem;
				width: auto;
			}
			.subtext {
				-ms-grid-row: 3/4;
				grid-row: 3/4;
				-ms-grid-column: 1/2;
				grid-column: 1/2;
				text-align: center;
				width: 100%;
				h2 {
					font-size: var.$L;
				}
				p {
					flex: 1;
				}
				#download-button-placeholder1 {
					flex: 1;
					min-width: 15rem;
				}
				@include flex-container(row, flex-start, center, wrap);
			}
			// .download-buttons {
			// 	-ms-grid-row: 4/5;
			// 	grid-row: 4/5;
			// 	margin: 1rem auto;
			// }
		}
	}
}
@media (min-width: 576px) and (max-width: 768px) {
	//tablet
	.landing-view {
		.landing-grid {
			-ms-grid-rows: auto auto auto;
			-ms-grid-column: 1fr 1fr;
			grid-template-rows: auto auto auto;
			grid-template-columns: 1fr 1fr;

			.title {
				-ms-grid-row: 1/2;
				-ms-grid-column: 1/3;
				grid-row: 1/2;
				grid-column: 1/3;
				padding: 1rem;
			}
			.product {
				-ms-grid-row: 2/3;
				-ms-grid-column: 1/2;
				grid-row: 2/3;
				grid-column: 1/2;

				width: 100%;
				margin: 0 auto;
				padding: 0 0.5rem;
			}
			.subtext {
				-ms-grid-row: 2/3;
				-ms-grid-column: 2/3;
				grid-row: 2/3;
				grid-column: 2/3;

				text-align: center;
				@include flex-container(column, center, flex-start, nowrap);
				p {
					max-width: 20rem;
				}
				.download-buttons {
					-ms-grid-column: 1/3;
					-ms-grid-row: 3/4;
					grid-row: 3/4;
					grid-column: 1/3;
				}
			}
		}
	}
}
@media (min-width: 768px) {
	//desktop
	.landing-view {
		.landing-grid {
			width: min(100%, 60rem);
			grid-template-rows: auto auto;
			grid-template-columns: auto auto;
			-ms-grid-rows: auto auto;
			-ms-grid-columns: auto auto;

			.title {
				-ms-grid-column: 2/3;
				-ms-grid-row: 1/2;
				grid-row: 1/2;
				grid-column: 2/3;
				align-self: center;
				justify-content: flex-start;
				margin-right: auto;
				text-align: start;
				width: 100%;
			}
			.product {
				-ms-grid-row: 1/3;
				-ms-grid-column: 1/2;
				grid-row: 1/3;
				grid-column: 1/2;
				width: 100%;
				justify-content: flex-end;
				justify-self: flex-end;
				float: right;
				align-self: center;
				align-self: flex-start;
			}
			.subtext {
				-ms-grid-row: 2/3;
				-ms-grid-column: 2/3;
				grid-row: 2/3;
				grid-column: 2/3;
			}
			.download-buttons {
				-ms-grid-column: 2/3;
				-ms-grid-row: 3/4;
				grid-column: 2/3;
				grid-row: 3/4;
			}
		}
	}
}
