@use "../../var";
@import "../../mixins";

.sign-up {
	@include flex-container(column, center, center, nowrap);
	padding: 1rem;
	width: 100%;
	position: relative;
	.pattern {
		position: absolute;
		right: 0;
		bottom: 0;
		height: 50rem;
		width: 50rem;
		background-image: url("/assets/img/mission/ballot.png");
		background-size: 50px;

		z-index: -1;
	}
	.container {
		width: 100%;
		@include flex-container(row-reverse, center, flex-start, wrap);
		form {
			max-width: 35rem;
			flex: 1;
			@include standard-shadow();
			border-radius: 0.5rem;
		}
		.download {
			@include flex-container(column, center, flex-start, nowrap);
			width: min(100%, 25rem);

			margin: 0 1rem;
			.buttons {
				// @include standard-shadow();
				border-radius: 0.5rem;
				max-width: 35rem;
				@include flex-container(column, center, center, nowrap);
				padding: 1rem;
				h4 {
					padding-bottom: 1rem;
				}
			}
			.check {
				max-width: min(80%, 15rem);
				margin: 0 auto;
			}
		}
	}
}

@media (max-width: 800px) {
	.sign-up {
		.container {
			.download {
				@include flex-container(column, center, center, wrap);

				width: 100%;
				margin-top: 1rem;
				margin: 1rem auto;
			}
		}
	}
}
// @media (min-width: 576px) and (max-width: 768px) {
// }
// @media (min-width: 768px) {
// }
