@use "../var";
@import "../mixins";
button,
a.button {
	background: none;
	color: inherit;
	border: none;
	font: "Red Hat Display", sans-serif;
	cursor: pointer;
	outline: inherit;
	text-align: inherit;
	padding: 0;
	@include flex-container(row, center, center, nowrap);
	font-size: 18px;
	padding: 0.5rem 1rem;
	border-radius: 0.25rem;
	&.min-width {
		width: min-content;
	}
	&.md-width {
		width: min-content;
		padding-left: 4rem;
		padding-right: 4rem;
		white-space: nowrap;
	}
	&.lg {
		width: 100%;
		font-size: 22px;
	}
	&.sm {
		padding: 0.5rem;
		font-size: 14px;
	}
	&.icon {
		@include flex-container(row, center, center, nowrap);
		i {
			padding-right: 0.5rem;
		}
	}

	&.primary {
		color: var.$bg;
		background-color: var.$primary-default;
		border: 1px solid var.$primary-default;
		color: var.$bg;
		&:hover {
			background-color: var.$primary-dark;
			color: var.$fg;
		}
	}
	&.secondary {
		color: var.$text-secondary;
		border: 1px solid var.$text-secondary;
		&:hover {
			background-color: var.$fg;
			color: var.$text;
			border: 1px solid var.$text;
		}
	}
	&.white {
		background-color: var.$bg;
		color: var.$text;
		border: 1px solid var.$text-secondary;
		color: var.$text;
		&:hover {
			background-color: var.$fg;
		}
	}
}
#download-button-placeholder {
	@include flex-container(column, center, center, nowrap);
}
.download-buttons {
	text-align: center;
	width: 100%;
	max-width: 25rem;
	height: min-content;
	@include flex-container(column, center, center, nowrap);
	.app-stores {
		@include flex-container(row, center, center, nowrap);
		:nth-child(1) {
			margin-right: 2.5px;
		}
		:nth-child(2) {
			margin-left: 2.5px;
		}
	}
	.app-store-link {
		width: 45%;
		.app-store-btn {
			max-width: 100%;
			flex: 1;
			border: 1px solid var.$border;
			border-radius: 0.5rem;
		}
	}
	.web-app-link {
		margin: 1rem 0;
		width: 100%;
		max-width: 22rem;
		padding: 1rem !important;
		border-radius: 10rem;
		img {
			max-height: 1.5rem;
			padding-right: 1rem;
		}
		i {
			font-size: 1.75rem;
		}
	}
}
@media screen and (max-width: 700px) {
	.download-buttons {
		.app-stores {
			flex-wrap: wrap;
			.app-store-link {
				min-width: 100px;
				.app-store-btn {
					width: 100%;
				}
			}
		}
	}
}
button.select-group {
	padding: 0.5rem;
	opacity: 0.5;
	border-radius: 0.25rem;
	border: 1px solid transparent;

	transition: all 0.25s linear;
}
button.select-group:hover {
	opacity: 0.8;
	background-color: var.$fg;
	border: 1px solid transparent;

	transition: all 0.25s linear;
}
button.select-group:active {
	border: 1px solid var.$border;
	transition: all 0.25s linear;
}
