@use "../var";
@import "../mixins";

form {
	padding: 1rem;
	.form-title {
		margin: 1rem 0;
	}
	label {
		margin-top: 1rem;
	}
	input {
		display: block;
		width: 100%;
		padding: 0.25rem 0.5rem;
		border-radius: 0.25rem;
		border: 1px solid var.$border;
		margin-bottom: 0.5rem;
	}
	button {
		margin: 1rem 0;
	}
}
