@use "../var";
@use "../mixins";

#carousel-container {
	@include flex-container(row, center, center, nowrap);
}

#carousel {
	margin: 0 auto;
	width: min(100%, 40rem);
	background-color: transparent;
}
.carousel-switch-prev,
.carousel-switch-next {
	padding: 0.25rem;
	@include flex-container(row, center, center, nowrap);
	i {
		font-size: 3rem;
		color: var.$text-secondary;
	}
	&:hover {
		i {
			color: var.$text;
		}
	}
}
.slides {
	overflow-y: visible !important;
	overflow-x: hidden;
}
.carousel-bullet {
	margin-top: 1rem !important;
	border-radius: 50% !important;
	height: 1rem !important;
	width: 1rem !important;
	&.bullet-on {
		background-color: var.$primary-default !important;
	}
}
.slide {
	@include flex-container(row, center, center, nowrap);
	padding: 3rem;
}
