@use "../var";
@import "../mixins";

.sign-up {
	@include flex-container(column, center, center, nowrap);
	padding: 1rem;
	width: 100%;

	.container {
		width: 100%;
		@include flex-container(row-reverse, center, flex-start, nowrap);
		.form-wrapper {
			flex: 1;
			form {
				margin: 0 auto;
				max-width: 35rem;
				@include standard-shadow();
				border-radius: 0.5rem;
			}
		}
		.download {
			@include flex-container(column, center, flex-start, nowrap);
			width: min(100%, 25rem);

			margin: 0 1rem;
			// flex: 1;
			.buttons {
				border-radius: 0.5rem;
				max-width: 35rem;
				@include flex-container(column, center, center, nowrap);
				padding: 1rem;
				h4 {
					padding-bottom: 1rem;
				}
				.web-app-link {
					padding: 1rem !important;
				}
			}
		}
		.devices {
			// flex: 1;
			max-width: min(80%, 25rem);
		}
	}
}

@media (max-width: 800px) {
	.sign-up {
		.container {
			.download {
				@include flex-container(column, center, center, wrap);

				width: 100%;
				margin-top: 1rem;
				margin: 1rem auto;
			}
		}
	}
}
// @media (min-width: 576px) and (max-width: 768px) {
// }
// @media (min-width: 768px) {
// }
