// brand ambassador page
@use "../var";
@import "../mixins";
.landing {
	display: grid;
	// height: 100vh;
	.content {
		padding: 1rem;
		z-index: 2;
		a {
			margin-top: 1rem;
		}
	}
}
@media screen and (max-width: 799px) {
	.landing {
		-ms-grid-template-columns: 1fr;
		grid-template-columns: 1fr;
		-ms-grid-template-rows: 2fr 1fr auto;
		grid-template-rows: 2fr 1fr auto;
		img {
			width: 100vw;
			min-width: 45rem;
			-ms-grid-column: 1/2;
			grid-column: 1/2;
			-ms-grid-row: 1/3;
			grid-row: 1/3;
			z-index: 1;
			-webkit-mask-image: linear-gradient(
				to bottom,
				rgba(0, 0, 0, 1),
				rgba(0, 0, 0, 0)
			);
			mask-image: linear-gradient(
				to bottom,
				rgba(0, 0, 0, 1),
				rgba(0, 0, 0, 0)
			);
		}
		.content {
			width: 100vw;
			-ms-grid-column: 1/2;
			grid-column: 1/2;
			-ms-grid-row: 2/4;
			grid-row: 2/4;
		}
	}
}
@media screen and (min-width: 800px) {
	.landing {
		-ms-grid-template-rows: 1fr;
		grid-template-rows: 1fr;
		-ms-grid-template-columns: 1fr 2fr 2fr;
		grid-template-columns: 1fr 2fr 2fr;
		align-items: center;
		max-width: 130rem;
		margin-right: auto;
		img {
			width: 100%;
			min-width: 50rem;
			-ms-grid-row: 1/2;
			grid-row: 1/2;
			-ms-grid-column: 1/3;
			grid-column: 1/3;
			-webkit-mask-image: linear-gradient(
				to right,
				rgba(0, 0, 0, 1),
				rgba(0, 0, 0, 0)
			);
			mask-image: linear-gradient(to right, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
		}
		.content {
			justify-self: flex-end;
			-ms-grid-row: 1/2;
			grid-row: 1/2;
			-ms-grid-column: 2/4;
			grid-column: 2/4;
			max-width: 40rem;
		}
	}
}

#description {
	background-color: var.$bg-dark;
	color: var.$text-dark;
	padding: 3rem 1rem;
	p {
		font-size: 1.25rem;
		margin: 2rem auto;
		max-width: 80ch;
	}
}
#info {
	padding: 0;
	display: grid;
	img {
		z-index: 1;
	}
	.content {
		z-index: 2;
		padding: 2rem 1rem;
		.block {
			ul {
				li {
					list-style-type: circle !important;
				}
			}
		}
	}
}
@media screen and (max-width: 799px) {
	#info {
		img {
			width: 100vw;
		}
	}
	// #info {
	// 	-ms-grid-template-columns: 1fr;
	// 	grid-template-columns: 1fr;
	// 	-ms-grid-template-rows: 1fr 2fr;
	// 	grid-template-rows: 2fr 1fr 2fr;
	// 	img {
	// 		width: 100vw;
	// 		-ms-grid-column: 1/2;
	// 		grid-column: 1/2;
	// 		-ms-grid-row: 1/3;
	// 		grid-row: 1/3;
	// 		z-index: 1;
	// 		// -webkit-mask-image: linear-gradient(
	// 		// 	to bottom,
	// 		// 	rgba(0, 0, 0, 1),
	// 		// 	rgba(0, 0, 0, 0)
	// 		// );
	// 		// mask-image: linear-gradient(
	// 		// 	to bottom,
	// 		// 	rgba(0, 0, 0, 1),
	// 		// 	rgba(0, 0, 0, 0)
	// 		// );
	// 	}
	// 	.content {
	// 		width: 100vw;
	// 		-ms-grid-column: 1/2;
	// 		grid-column: 1/2;
	// 		-ms-grid-row: 2/4;
	// 		grid-row: 2/4;
	// 	}
	// }
}
@media screen and (min-width: 800px) {
	#info {
		-ms-grid-template-rows: 1fr;
		grid-template-rows: 1fr;
		-ms-grid-template-columns: 1fr 1fr;
		grid-template-columns: 1fr 1fr;
		.img-wrapper {
			height: 100%;
			width: 50vw;
			@include flex-container(column, center, center, nowrap);
			background: linear-gradient(
				125deg,
				var.$primary-light,
				var.$accent1-default
			);
			img {
				-ms-grid-row: 1/2;
				grid-row: 1/2;
				-ms-grid-column: 2/3;
				grid-column: 2/3;
				width: 50vw;
				// -webkit-mask-image: linear-gradient(
				// 	to left,
				// 	rgba(0, 0, 0, 1),
				// 	rgba(0, 0, 0, 0)
				// );
				// mask-image: linear-gradient(to left, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
			}
		}

		.content {
			-ms-grid-row: 1/2;
			grid-row: 1/2;
			-ms-grid-column: 1/2;
			grid-column: 1/2;
			max-width: 50rem;
			margin-left: auto;
		}
	}
}
#apply {
	background-image: url("../../assets/img/background/bg1.png");
	background-position: cover;
	background-size: auto;
	background-repeat: no-repeat;
	width: 100vw;
	padding: 35vh 2rem;
	// height: 30vh;

	.content {
		@include card();
		background-color: var.$bg;
		padding: 15rem 0;
		max-width: 50rem;
		margin: auto;
		padding: 2rem 3rem;
	}
}
footer {
	margin-top: 0;
}
