// FAQ's
.page.faq {
	.title {
		padding: 3rem 0;
	}
}
#faq-container {
	display: grid;
	gap: 1rem;
	.faq-card {
		@include card();

		padding-bottom: 2rem;
		.question {
			padding-bottom: 1rem;
			// &::before {
			// 	content: "";
			// 	display: block;
			// 	height: 0.35rem;
			// 	width: 4rem;
			// 	background-color: var.$text-secondary;
			// }
		}
		.answer {
		}
	}
}
@media screen and (max-width: 799px) {
	#faq-container {
		-ms-grid-column: 1fr;
		grid-template-columns: 1fr;
	}
}
@media screen and (min-width: 800px) {
	#faq-container {
		-ms-grid-column: 1fr 1fr;
		grid-template-columns: 1fr 1fr;
		.faq-card {
			&.odd {
				grid-column: 1/2;
			}
			&.even {
				grid-column: 2/3;
			}
		}
	}
}
