@use "../var";
@import "../mixins";

.mission-page {
	.section {
		.title {
			width: clamp(20rem, 80%, 50rem);
		}
		position: relative;
		@include flex-container(row, center, center, wrap);
		.mission-img {
			z-index: 1;
			width: 100vw;
		}
		&.representation {
			@include flex-container(column, flex-start, center, nowrap);
		}
		.content {
			z-index: 4;
			width: clamp(20rem, 80%, 40rem);
			margin: 4rem auto;
			.title {
				width: 100%;
				padding: 0.5rem;
				padding-left: 0;
				@include flex-container(row, flex-start, center, nowrap);
				img {
					height: 3rem;
					margin: 1rem;
					margin-left: 0;
				}
				h2 {
					font-weight: 800;
					text-align: left;
				}
			}
		}
	}
	@import "../sections/landing/signUp";
}
