@use "../var";
@import "../mixins";

.mission-page {
	.section {
		position: relative;
		@include flex-container(row, center, center, wrap);
		.mission-img {
			z-index: 1;
			width: 100vw;
		}
		.content {
			z-index: 4;
			padding: 2rem;
			width: clamp(20rem, 80%, 50rem);
			h2 {
				font-weight: 800;
				color: var.$bg;
			}
			p {
				background-color: var.$bg;
				@include standard-shadow();
				padding: 1rem;
				border-radius: 0.5rem;
			}
		}
		&.representation {
			background-image: url("/assets/img/mission/hands_up.jpg");
		}
		&.fails-online {
			background-image: url("/assets/img/mission/fails_online.jpg");
		}
		&.dont-wait {
			background-image: url("/assets/img/mission/voting_line.jpg");
		}
	}
}
