@use "../var";
@import "../mixins";

.mission-page {
	.landing {
		position: relative;
		background-image: url("/assets/img/mission/mission2.jpg");
		background-repeat: no-repeat;
		background-position: top;
		background-size: cover;
		min-height: 90vh;
		padding: 2rem;
		@include flex-container(row, center, flex-start, nowrap);
		// img {
		// 	position: absolute;
		// 	height: 100%;
		// 	z-index: -1;
		// }
		.title {
			* {
				text-align: left;
			}
		}
		// .background-image {
		// 	right: 0;
		// }
	}
	.section {
		position: relative;
		@include flex-container(row, center, center, wrap);
		.mission-img {
			z-index: 1;
			width: 100vw;
		}
		&.representation {
			@include flex-container(column, flex-start, center, nowrap);
		}
		.content {
			z-index: 4;
			width: clamp(20rem, 80%, 50rem);
			margin: 4rem auto;
			.title {
				padding: 0.5rem;
				@include flex-container(row, flex-start, center, nowrap);
				img {
					height: 3rem;
					margin: 1rem;
				}
				h2 {
					font-weight: 800;
					text-align: left;
				}
			}
			p {
				@include standard-shadow();
				padding: 1rem;
				border-radius: 0.5rem;
			}
		}
	}
	@import "../sections/landing/signUp";
}
