@use "../var";
@import "../mixins";

.sub-community {
	.landing {
		overflow: hidden;
		display: grid;
		min-height: 100vh;
		// .content {
		// 	background: linear-gradient(180deg, var.$bg, transparent);
		// }
	}
	.card.sga,
	.card.city-council {
		margin: 1rem 0;
		@include flex-container(row, center, center, wrap);
		img {
			height: 5rem;
			margin: 0.5rem;
		}
		.text {
			min-width: 5ch;
			height: max-content;
		}
	}
}
@media screen and (max-width: 799px) {
	.sub-community {
		.landing {
			height: calc(100vh - 8rem);
			width: 100%;
			-ms-grid-column: 1fr;
			grid-template-columns: 1fr;
			-ms-grid-row: auto auto auto;
			grid-template-rows: auto auto auto;
			justify-content: stretch;
			align-items: center;

			.img-wrapper {
				-ms-grid-column: 1/2;
				grid-column: 1/2;
				-ms-grid-row: 1/3;
				grid-row: 1/3;
				overflow: hidden;
				align-self: flex-start;
				img {
					width: 100%;
					-webkit-mask-image: linear-gradient(
						to top,
						rgba(0, 0, 0, 0),
						rgba(0, 0, 0, 1)
					);
					mask-image: linear-gradient(
						to top,
						rgba(0, 0, 0, 0),
						rgba(0, 0, 0, 1)
					);
				}
			}
			.content {
				padding: 1rem;
				-ms-grid-column: 1/2;
				grid-column: 1/2;
				-ms-grid-row: 2/4;
				grid-row: 2/4;
				width: 100%;
				max-width: 100vw;
			}
		}
	}
}
@media screen and (min-width: 800px) {
	.sub-community {
		.landing {
			height: calc(100vh - 8rem);
			width: 100%;
			-ms-grid-column: 1fr 1fr;
			grid-template-columns: 1fr 1fr;
			-ms-grid-row: auto;
			grid-template-rows: auto;
			justify-content: stretch;
			align-items: center;
			.img-wrapper {
				-ms-grid-column: 1/2;
				grid-column: 1/2;
				-ms-grid-row: 1/2;
				grid-row: 1/2;

				justify-self: stretch;
				overflow: hidden;
				img {
					width: 100%;
				}
			}

			.content {
				padding: 1rem;
				-ms-grid-column: 2/3;
				grid-column: 2/3;
				-ms-grid-row: 1/2;
				grid-row: 1/2;
				width: 100%;
				max-width: 100vw;
				max-width: 40rem;
			}
		}
	}
}
// how to join
.how-to-join {
	.water-mark {
		position: absolute;
		right: 0;
		bottom: 0;
	}
	.content.flex-row {
		flex-wrap: wrap;
		.img-wrapper {
			margin: 0 1rem 1rem 1rem;
			max-width: 30rem;
			width: 100%;
			height: 29rem;
			overflow: hidden;
		}
		.verify {
			.social-icons {
				a {
					width: 30px;
					height: 30px;
				}
				.social {
					font-size: 1rem;
					margin-right: 0.5rem;
				}
			}
		}
	}
}

@media screen and (max-width: 799px) {
	.proposals {
		.proposal-card {
			margin-bottom: 2rem;
		}
	}
}
@media screen and (min-width: 800px) {
	.proposals {
		@include flex-container(row, center, center, nowrap);
		.proposal-card {
			margin-right: 2rem;
		}
		.testimonials {
			@include flex-container(column, space-between, flex-start, nowrap);
		}
	}
}
.section-small.vote {
	@include flex-container(column, center, flex-start, nowrap);
	background-color: var.$primary-LO;
	padding: 1rem 0;
	#carousel-container {
		width: 100%;
		max-width: 50rem;

		margin: 0 auto;
		#carousel {
			width: 100%;
			max-height: 350px;
			z-index: 50;
			.carousel-switch-next,
			.carousel-switch-prev {
				bottom: 0 !important;
				top: auto;
				margin-top: 0;
				padding: 1rem;
				z-index: 100;
			}
			.carousel-bullets {
				z-index: 70;
				align-items: center;
				.carousel-bullet {
					margin-top: 0 !important;
					margin-bottom: 0.15rem;
				}
			}
			.slides {
				height: 300px;

				.slide {
					height: 300px;
					padding: 0;
					@include flex-container(column, center, center, nowrap);
					.proposal-link {
						margin: 0 0.5rem;
						height: 300px;
						@include flex-container(column, center, center, nowrap);
						&:hover {
							text-decoration: none;
							.proposal-card {
								background-color: var.$fg;
							}
						}
						.proposal-card {
							margin: 0 auto;
							background-color: var.$bg;
						}
					}
				}
			}
		}
	}
}
.sub-community {
	.sign-up {
		padding: 5rem 0;
		@include flex-container(row-reverse, center, center, wrap);
		max-width: 50rem;
		margin: 0 auto;
		.img-wrapper {
			width: clamp(15rem, 50%, 30rem);

			#devices {
				width: 100%;
				height: unset;
			}
		}
		.buttons {
			@include flex-container(column, center, center, nowrap);
			min-width: 20rem;
			flex: 1;
			h2 {
				padding-bottom: 1rem;
				margin: 0 auto;
			}
			#download-button-placeholder {
				flex: 1;
			}
		}
	}
}
