$light--background: #fcfcfc;
$light--foreground: #f8f8f8;
$light--glass: #cccccc50;
$light--text: #151515;
$light--text-secondary: #5f5f5f;
$light--border: rgb(182, 182, 182);
$light--inactive: #acacac;
$light--link: #0645ad;
$light--text-input: #e0e0e0;

$dark--background: #1f1f1f;
$dark--foreground: #2e2e2e;
$dark--glass: #33333350;

$dark--text: #fcfcfc;
$dark--text-secondary: #b8b8b8;
$dark--border: #686868;
$dark--inactive: #646464;
$dark--link: #5d96f1;
$dark--text-input: #292929;

// $inactive: #777;
$danger: hsl(354, 100%, 50%);
$urgent: hsl(0, 100%, 74%);
$success: hsl(133, 68%, 46%);
$primary-default: hsl(256, 67%, 55%);
$primary-light: hsl(256, 100%, 70%);
$primary-dark: hsl(263, 100%, 31%);
$primary-LO: hsl(256, 100%, 70%, 0.5);
// Blue
$accent1-default: hsl(194, 67%, 60%);
$accent1-light: hsl(202, 100%, 78%);
$accent1-dark: hsl(198, 100%, 37%);
$accent1-LO: hsl(202, 100%, 78%, 0.5);
// PINK
$accent2-default: hsl(327, 91%, 52%);
$accent2-light: hsl(324, 100%, 69%);
$accent2-dark: hsl(328, 100%, 37%);
$yellow: hsl(55, 50%, 56%);

$light: #fcfcfc;
$dark: #151515;
